.hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	padding: 36px 5px;
	background: center / cover no-repeat url(../assets/background.png);

	@media (max-width: 990px ) {
		height: 100%;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
	}

	&__title {
		font-family: 'Exo20';
		font-size: rem(36);
		line-height: 44px;
		text-align: center;
		color: #FFF;
		text-shadow: 0px 1px 1px #000;
	}

	&__wrapper {
		display: flex;
		width: 100%;
		margin-top: rem(25);
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 30px 10px;
	}
}