@use 'sass:math';

$mainColor: #1698D9;
$bg-pink: #D91667;
$pink: #D91667;
$bg-gray: #c9c9c9;
$gray: #F2F2F2;
$yellow: #FFFF66;
$hoverText-pink: #E62E7A;

@import 'fonts.scss';
@import 'mixins.scss';
@import 'null.scss';
@import 'hero.scss';
@import 'card.scss';